#login_container {
  width: 400px;
  height: 220px;
  border: 2px solid DarkTurquoise;
  margin: 0 auto;
  margin-top: 15%;

  box-shadow: 10px 0 8px -8px black, -10px 0 8px -8px black, 0px 10px 8px -8px black, 0px -10px 8px -8px black;

  padding: 25px 25px;
}

.button_marg_low {
  margin: 5px 0px;
}

.special_inputs input[type="email"], .special_inputs input[type="password"]{
  width: 98%;
}

#login_title {
  font-weight: bold;
  font-size: 25px;
}

#login_back {
  text-decoration: none;
  float:right;
  font-size: 18px;
  font-weight: bold;
  color: DodgerBlue;
  margin: -13px -5px;
}

#login_back:hover {
  text-decoration: underline;
}
